In [114]:
import pandas as pd
import sklearn
sklearn.__version__

'1.2.2'

In [69]:
df = pd.read_csv("bike_buyers.csv")

In [70]:
df.head()

,ID,Marital Status,Gender,Income,Children,Education,Occupation,Home Owner,Cars,Commute Distance,Region,Age,Purchased Bike
0,12496,Married,Female,40000.0,1.0,Bachelors,Skilled Manual,Yes,0.0,0-1 Miles,Europe,42.0,No
1,24107,Married,Male,30000.0,3.0,Partial College,Clerical,Yes,1.0,0-1 Miles,Europe,43.0,No
2,14177,Married,Male,80000.0,5.0,Partial College,Professional,No,2.0,2-5 Miles,Europe,60.0,No
3,24381,Single,NaN,70000.0,0.0,Bachelors,Professional,Yes,1.0,5-10 Miles,Pacific,41.0,Yes
4,25597,Single,Male,30000.0,0.0,Bachelors,Clerical,No,0.0,0-1 Miles,Europe,36.0,Yes

In [71]:
df.isna().sum()

ID                   0
Marital Status       7
Gender              11
Income               6
Children             8
Education            0
Occupation           0
Home Owner           4
Cars                 9
Commute Distance     0
Region               0
Age                  8
Purchased Bike       0
dtype: int64

In [72]:
df = df.dropna()

In [73]:
df.isna().sum()

ID                  0
Marital Status      0
Gender              0
Income              0
Children            0
Education           0
Occupation          0
Home Owner          0
Cars                0
Commute Distance    0
Region              0
Age                 0
Purchased Bike      0
dtype: int64

In [74]:
df.duplicated().sum()

0

In [75]:
df.groupby('Education')['Age'].mean()

Education
Bachelors              45.486301
Graduate Degree        44.742331
High School            44.341040
Partial College        43.079365
Partial High School    42.083333
Name: Age, dtype: float64

In [76]:
df.groupby("Gender")["Income"].mean()

Gender
Female    54566.596195
Male      57223.382046
Name: Income, dtype: float64

In [77]:
df.groupby(["Gender", "Marital Status"])["Income"].mean()

Gender  Marital Status
Female  Married           56794.871795
        Single            52384.937238
Male    Married           59647.887324
        Single            53692.307692
Name: Income, dtype: float64

In [78]:
df.groupby("Purchased Bike")["Income"].mean()

Purchased Bike
No     54455.645161
Yes    57478.070175
Name: Income, dtype: float64

In [79]:
df.head()

,ID,Marital Status,Gender,Income,Children,Education,Occupation,Home Owner,Cars,Commute Distance,Region,Age,Purchased Bike
0,12496,Married,Female,40000.0,1.0,Bachelors,Skilled Manual,Yes,0.0,0-1 Miles,Europe,42.0,No
1,24107,Married,Male,30000.0,3.0,Partial College,Clerical,Yes,1.0,0-1 Miles,Europe,43.0,No
2,14177,Married,Male,80000.0,5.0,Partial College,Professional,No,2.0,2-5 Miles,Europe,60.0,No
4,25597,Single,Male,30000.0,0.0,Bachelors,Clerical,No,0.0,0-1 Miles,Europe,36.0,Yes
5,13507,Married,Female,10000.0,2.0,Partial College,Manual,Yes,0.0,1-2 Miles,Europe,50.0,No

In [80]:
df['Education'].value_counts()

Education
Bachelors              292
Partial College        252
High School            173
Graduate Degree        163
Partial High School     72
Name: count, dtype: int64

In [81]:
df["Purchased Bike"] = df["Purchased Bike"].apply(lambda x: 1 if x == "Yes" else 0)

In [82]:
df.head()

,ID,Marital Status,Gender,Income,Children,Education,Occupation,Home Owner,Cars,Commute Distance,Region,Age,Purchased Bike
0,12496,Married,Female,40000.0,1.0,Bachelors,Skilled Manual,Yes,0.0,0-1 Miles,Europe,42.0,0
1,24107,Married,Male,30000.0,3.0,Partial College,Clerical,Yes,1.0,0-1 Miles,Europe,43.0,0
2,14177,Married,Male,80000.0,5.0,Partial College,Professional,No,2.0,2-5 Miles,Europe,60.0,0
4,25597,Single,Male,30000.0,0.0,Bachelors,Clerical,No,0.0,0-1 Miles,Europe,36.0,1
5,13507,Married,Female,10000.0,2.0,Partial College,Manual,Yes,0.0,1-2 Miles,Europe,50.0,0

In [83]:
df["Home Owner"] = df["Home Owner"].apply(lambda x: 1 if x == "Yes" else 0)

In [84]:
# Define a mapping for Education levels
education_mapping = {
    'Bachelors': 3,
    'Partial College': 2,
    'High School': 1,
    'Graduate Degree': 4,
    'Some High School': 1,
    'No Education': 0
}

df['Education_Encoded'] = df['Education'].apply(lambda x: education_mapping.get(x, -1))
# Display the updated DataFrame
print(df[['Education', 'Education_Encoded']])

           Education  Education_Encoded
0          Bachelors                  3
1    Partial College                  2
2    Partial College                  2
4          Bachelors                  3
5    Partial College                  2
..               ...                ...
994  Partial College                  2
995      High School                  1
996  Graduate Degree                  4
998        Bachelors                  3
999      High School                  1

[952 rows x 2 columns]

In [85]:
# Drop the 'Education' column after encoding
df.drop('Education', axis=1, inplace=True)

In [86]:
df.head()

,ID,Marital Status,Gender,Income,Children,Occupation,Home Owner,Cars,Commute Distance,Region,Age,Purchased Bike,Education_Encoded
0,12496,Married,Female,40000.0,1.0,Skilled Manual,1,0.0,0-1 Miles,Europe,42.0,0,3
1,24107,Married,Male,30000.0,3.0,Clerical,1,1.0,0-1 Miles,Europe,43.0,0,2
2,14177,Married,Male,80000.0,5.0,Professional,0,2.0,2-5 Miles,Europe,60.0,0,2
4,25597,Single,Male,30000.0,0.0,Clerical,0,0.0,0-1 Miles,Europe,36.0,1,3
5,13507,Married,Female,10000.0,2.0,Manual,1,0.0,1-2 Miles,Europe,50.0,0,2

In [87]:
df.dtypes

ID                     int64
Marital Status        object
Gender                object
Income               float64
Children             float64
Occupation            object
Home Owner             int64
Cars                 float64
Commute Distance      object
Region                object
Age                  float64
Purchased Bike         int64
Education_Encoded      int64
dtype: object

In [88]:
y = df["Purchased Bike"]
X = df[["Income", "Age", "Education_Encoded", "Home Owner"]]

In [89]:
X

       Income   Age  Education_Encoded  Home Owner
0     40000.0  42.0                  3           1
1     30000.0  43.0                  2           1
2     80000.0  60.0                  2           0
4     30000.0  36.0                  3           0
5     10000.0  50.0                  2           1
..        ...   ...                ...         ...
994   80000.0  46.0                  2           1
995   60000.0  54.0                  1           1
996   70000.0  35.0                  4           1
998  100000.0  38.0                  3           0
999   60000.0  53.0                  1           1

[952 rows x 4 columns]

In [90]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2)

In [91]:
X_train.shape

(761, 4)

In [92]:
X.shape[0] * 0.8

761.6

In [93]:
X.shape

(952, 4)

In [94]:
from sklearn.metrics import accuracy_score

In [95]:
from sklearn.model_selection import GridSearchCV
from sklearn.tree import DecisionTreeClassifier

In [96]:
param_grid = {
    "splitter" : ["best", "random"],
    "max_depth" : [None, 10, 20, 30, 40, 50],
    "min_samples_split" : [2,5,10],
    "min_samples_leaf" : [1,2,4]
}

In [97]:
tree_model = DecisionTreeClassifier()

In [98]:
grid_search_tree = GridSearchCV(tree_model, param_grid)

In [99]:
grid_search_tree.fit(X_train, y_train)

GridSearchCV(estimator=DecisionTreeClassifier(),
             param_grid={'max_depth': [None, 10, 20, 30, 40, 50],
                         'min_samples_leaf': [1, 2, 4],
                         'min_samples_split': [2, 5, 10],
                         'splitter': ['best', 'random']})

In [100]:
grid_search_tree.best_params_

{'max_depth': None,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'splitter': 'best'}

In [101]:
pred_tree = grid_search_tree.predict(X_test)

In [102]:
accuracy_score(y_test, pred_tree)

0.6596858638743456

In [103]:
from sklearn.ensemble import RandomForestClassifier
rfc_model = RandomForestClassifier()

In [104]:
param_grid_rfc = {
    "max_features" : [2,3,4],
    "n_estimators" : [32,64,128,256],
}

In [105]:
grid_rfc = GridSearchCV(rfc_model, param_grid_rfc)

In [106]:
grid_rfc.fit(X_train, y_train)

GridSearchCV(estimator=RandomForestClassifier(),
             param_grid={'max_features': [2, 3, 4],
                         'n_estimators': [32, 64, 128, 256]})

In [107]:
grid_rfc.best_params_

{'max_features': 2, 'n_estimators': 64}

In [108]:
pred_rfc = grid_rfc.predict(X_test)

In [109]:
accuracy_score(y_test, pred_rfc)

0.680628272251309

In [110]:
grid_search_tree

GridSearchCV(estimator=DecisionTreeClassifier(),
             param_grid={'max_depth': [None, 10, 20, 30, 40, 50],
                         'min_samples_leaf': [1, 2, 4],
                         'min_samples_split': [2, 5, 10],
                         'splitter': ['best', 'random']})

In [111]:
import joblib
joblib.dump(grid_search_tree, "model.pkl")

['model.pkl']

In [112]:
X.columns

Index(['Income', 'Age', 'Education_Encoded', 'Home Owner'], dtype='object')